.student-card-container {
    width: 600px;
    margin: 0 20px;
}

.student-card-container__title {
    font-weight: 600;
    font-size: 1.2em;
}

.student-card-container__count span {
    color: #6A9C7B;
}

.student-card-container__list {
    margin-top: 20px;
}